{% load static %}
<div class="FujitaTemplate">
    <body>
        <div class="wrap">
            <h1>Million Spoon🥄</h1>
            <h2>Ranking</h2>
            <table>
                <thead>
                    <tr>
                        <th class="th-r">ランキング</th>
                        <th class="th-n">名前</th>
                        <th class="th-s">スコア</th>
                        <th class="th-t">時間</th>
                    </tr>
                </thead>
                <tbody id="rankingTable">
                    <!-- show the ranking details here -->
                </tbody>
            </table>
        </div>
        <script src="{% static 'script.js' %}"></script>
    </body>
</div>